---
import Layout from '../layouts/Layout.astro';
import Markdown from '../components/Markdown.astro';
import { Image } from 'astro:assets';
import bg from '../assets/bg.jpg';
import logo from '../assets/logotext.png';
import ServiceList from '../components/ServiceList.astro';

const aboutme = `Björn Eriksson certifierad massageterapeut med 15 års erfarenhet.

Fokuserar på djupgående massage och triggerpunktsbehandling för att lindra smärta, släppa spänningar och återställa rörlighet.

Jag jobbar lugnt men tungt, som en björn fast utan klor, och letar aktivt efter triggerpunkter för långvarig effekt. 
Massage ska vara skönt och avslappnande men också göra verklig skillnad.

Välkommen att boka tid!`;

---


<Layout title="BjörnMassage">
       <section class="py-5 md:py-0">
        <div class="max-w-4xl mx-auto px-5 text-center">
            <Image
            src={logo}
            alt="BjönMassage"
            width={500}   
            class="mx-auto w-full max-w-70 sm:max-w-85 md:max-w-105 lg:max-w-125"
            />
        </div>
        </section>
         <section>
           <h1 class="text-center mb-10 text-[#ffffff]">Massage i Jönköping</h1>
           <ServiceList />
        </section>
        <section class="my-10 md:py-5">
          <div class="max-w-5xl mx-auto px-5 md:px-8">
            <div class="
              flex flex-col md:flex-row 
              gap-8 md:gap-12 lg:gap-16 
              items-center md:items-start
            ">
           

              <div class="prose prose-invert prose-lg md:prose-xl max-w-none flex-1">
                <Markdown content={aboutme} />
              </div>
            </div>
          </div>
        </section>
           
</Layout>
